body {
    margin: 0;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    font-size: calc(1em + 0.33vw);
    line-height: 1.4;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

* {
    color: black;
}

.page-layout {
    min-height: 100vh;
}

.blog-content {
    margin-top: 40px;
}

ol {
    list-style-type: none;
    padding: 0;
}

.tags-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 10px 0px;
}

.post-view-tag {
    color: #fff;
    background-color: #b200fd;
    margin-right: 10px;
    border-radius: 7px;
    padding: 2px 5px;
    font-size: calc(0.5em + 0.7vw);
    font-weight: 400;
}

.post-view-tag:hover {
    text-decoration: underline;
    color: #fff;
}

.post-list-date-string {
    font-size: calc(0.5em + 0.5vw);
}

.post-list-item > .post-list-tag {
    background-color: #b200fd;
    color: #fff;
    border-radius: 7px;
    font-size: calc(0.5em + 0.4vw);
    font-weight: 350;
    padding: 2px 4px;
}

.title-header {
    margin: 0;
}

.intro-img {
    float: left;
    margin-right: 5%;
    margin-bottom: 2%;
}

.intro-welcome {
    float: right;
}

main {
    margin-top: 4rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(0.9em + 0.33vw);
    margin-top: 4em;
}

.footer-inner {
    gap: 20px;
    display: flex;
    align-items: baseline;

    i {
        font-size: 20px;
    }
}

.cat-icon {
    transform: rotateY(180deg);
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #b200fd;
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    font-family: "Miriam Libre", sans-serif;
}

.nav-links-wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 480px) {
    .nav-links-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-img {
        margin-bottom: 30px;
        width: calc(100% - 10px);
        height: auto;
        float: none;
    }
}
