[data-theme="light"] {
    --background-color: #80d9ff;
    --nav-links-color: #ffb3f0;
    --post-tag-color: #ffb3f0;
    --hover-highlight: #b5f7b2;
    --text-color: black;
    --border-color: black;
    --main-color: white;
    --bullet-point-color: #ff8b71;
}

[data-theme="dark"] {
    --background-color: #1b0e5e;
    --nav-links-color: #d26157;
    --hover-highlight: black;
    --post-tag-color: #d26157;
    --border-color: black;
    --main-color: #1b1a29;
    --text-color: #62ceb1;
    --bullet-point-color: #d26157;
    --hover-highlight-text: #d26157;
    --link-color: #d26157;
    --nav-link-text-color: black;
}

.post-tag {
    color: black;
}

p > a {
    color: var(--link-color);
}

* {
    color: var(--text-color);
}

body {
    font-weight: 300;
    font-family: "Inter", sans-serif;
    font-size: calc(0.9em + 0.1vw);
    line-height: 1.4;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 2rem;
    background-color: var(--main-color);
    border: 4px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 1rem;
    // min-height: min-content;
}

h3 {
    font-style: bold;
}

h1,
h2,
.nav-link {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ol li {
    counter-increment: styleOrderedListItem;
}

ol li:before {
    content: counter(styleOrderedListItem) ". ";
}

ol {
    list-style: none;
    padding: 0;
    counter-reset: styleOrderedListItem;
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-links-wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    margin-top: 1rem;
}

.nav-link {
    background-color: var(--nav-links-color);
    color: var(--nav-link-text-color);
    padding: 8px 12px;
    border: 3px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 3px 3px black;
}

.nav-link:hover {
    background-color: var(--hover-highlight);
    color: var(--hover-highlight-text);
    cursor: pointer;
    text-decoration: none;
}

.nav-link-list-item:active {
    transform: translateY(5px) translateX(5px);
}

#theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

#theme-btn:active {
    transform: translateY(5px) translateX(5px);
}

.tags-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 10px 0px;
}

.post-tag {
    margin-right: 10px;
    border: 1px solid;
    font-size: calc(0.5em + 0.2vw);
    font-weight: 350;
    border-radius: 2px;
    background-color: var(--post-tag-color);
    padding: 2px;
}

.post-list-date-string-container {
    font-size: calc(0.7em + 0.09vw);
    margin-left: 6%;
}

.post-list-date-string {
    font-size: calc(0.7em + 0.2vw);
}

.post-view-tag:hover {
    text-decoration: underline;
}

.post-list-wrapper {
    display: flex;
    margin-left: 10px;
}

.post-list-item {
    margin-top: 5px;

    .post-tag {
        margin-left: 15px;
    }
}

.title-header {
    margin: 0;
}

.main-wrapper {
    margin-bottom: 4rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer-inner {
    gap: 20px;
    display: flex;
    align-items: baseline;

    i {
        font-size: calc(1em + 0.1vw);
    }
}

.cat-icon {
    transform: rotateY(180deg);
}

.prev-page {
    display: flex;
    justify-content: end;
}

.post-list-wrapper li::marker {
    color: black;
    list-style-type: disc;
}

.link-page-wrapper li::marker {
    list-style-type: disc;
    color: var(--bullet-point-color);
}

@media (max-width: 478px) {
    .nav-links-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
    }

    .nav-link-list-item {
        margin-top: 4%;
    }

    body {
        padding: 1rem;
    }
}

.img-wrapper {
    display: flex;
    align-items: center;
}

img {
    margin: auto;
    max-width: 100%;
    height: auto;
}
