<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Miriam+Libre:wght@400;700&display=swap"
            rel="stylesheet"
        />

        <script
            src="https://kit.fontawesome.com/9543e022b6.js"
            crossorigin="anonymous"
        ></script>

        {% include "partials/meta-info.html" %}

        <style>
            {% include "src/sass/style.scss" %}
        </style>

        <link
            rel="alternate"
            type="application/rss+xml"
            href="{{ site.url }}feed.xml"
        />
    </head>
    <body>
        <div class="page-layout">
            {% include "partials/site-head.html" %}
            <div class="page-content">
                <main class="main">{% block content %}{% endblock %}</main>
            </div>
        </div>

        <footer role="contentinfo">{% include "partials/footer.html" %}</footer>
    </body>
</html>
