{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
pageHeaderSummary %} {% if tags %}
<link rel="webmention" href="https://webmention.io/kirsty.website/webmention" />

<span class="post-list-date-string">{{page.date.toDateString()}}</span>

<ul class="tags-list" aria-describedby="tags-desc">
    {% for tag in tags %}
    <li id="post-tag">
        <a href="/tag/{{ tag | slug }}/" class="post-tag">{{ tag | title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %} {% endset %} {% block content %}
<section>
    <div class="post-header">{% include "partials/page-header.html" %}</div>
    <div class="blog-content">{{ content | safe }}</div>
</section>

{% endblock %}
