.page-layout {
    display: flex;
    min-height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
}

/* nav sidebar */

.side-nav {
    display: flex;
    flex-direction: column;
}

.nav-links-wrapper {
    text-decoration: none;
    list-style: none;
}
