<div class="footer-inner">
    <i class="fa-solid fa-cat"></i>
    <a href="https://www.instagram.com/k1p1lol/" aria-label="Instagram"
        ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.ravelry.com/people/torahwilcox" aria-label="Ravelry"
        ><i class="fa-brands fa-ravelry"></i
    ></a>
    <a href="https://mastodon.social/@kirsty_s" aria-label="Mastodon"
        ><i class="fa-brands fa-mastodon"></i
    ></a>
    <a href="https://github.com/dereknahman" aria-label="Mastodon"
        ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://kirsty.codes/feed.xml" aria-label="Mastodon"
        ><i class="fa-solid fa-rss"></i
    ></a>
    <i class="fa-solid fa-cat cat-icon"></i>
</div>
