<div class="footer-inner">
    <i class="fa-solid fa-cat"></i>
    <a href="https://www.instagram.com/cursed.tea.knits/" aria-label="Instagram"
        ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.ravelry.com/people/torahwilcox" aria-label="Ravelry"
        ><i class="fa-brands fa-ravelry"></i
    ></a>
    <a href="https://infosec.exchange/@kir5ty" aria-label="Mastodon"
        ><i class="fa-brands fa-mastodon"></i
    ></a>
    <a href="https://github.com/dereknahman" aria-label="GitHub"
        ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://kirsty.website/feed.xml" aria-label="Rss feed"
        ><i class="fa-solid fa-rss"></i
    ></a>
    <i class="fa-solid fa-cat cat-icon"></i>
</div>
