<div class="footer-inner">
    <a href="https://www.youtube.com/user/mugumogu"
        ><i class="fa-solid fa-cat"></i
    ></a>
    <a href="https://www.instagram.com/cursed.tea.knits/" aria-label="Instagram"
        ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.ravelry.com/people/torahwilcox" aria-label="Ravelry"
        ><i class="fa-brands fa-ravelry"></i
    ></a>
    <a href="https://infosec.exchange/@kir5ty" aria-label="Mastodon"
        ><i class="fa-brands fa-mastodon"></i
    ></a>
    <a href="https://github.com/dereknahman" aria-label="GitHub" rel="me"
        ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://kirsty.website/feed.xml" aria-label="Rss feed"
        ><i class="fa-solid fa-rss"></i
    ></a>
    <a
        href="mailto:kirstysimmonds@icloud.com?subject=Hi, I found your email on your website. I promise this isn't a marketing email about some sort of bollocks."
        aria-label="Email"
        ><i class="fa-solid fa-envelope"></i
    ></a>
    <a href="https://www.instagram.com/poetssquarecats/?hl=en"
        ><i class="fa-solid fa-cat cat-icon"></i
    ></a>
</div>
