<div class="post-list-wrapper">
    <ul class="special-bullet">
        {% for item in postListItems %}

        <li class="post-list-item">
            <a href="{{ item.url }}" class="post-list-link"
                >{{ item.data.title }}</a
            >

            {% for tag in item.data.tags %}

            <a class="post-tag" href="/tag/{{ tag | slug }}/"
                >{{ tag | title }}</a
            >

            {% endfor %}

            <div>
                <span class="post-list-date-string-container"
                    >{{item.date.toDateString()}}</span
                >
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
