<div class="post-list-wrapper">
    <ol>
        {% for item in postListItems %}

        <li class="post-list-item">
            <a href="{{ item.url }}" class="post-list-link"
                >{{ item.data.title }}</a
            >
            <span class="post-list-date-string"
                >{{item.date.toDateString()}}</span
            >

            <br />
            <div>
                {% for tag in item.data.tags %}

                <a class="post-tag" href="/tag/{{ tag | slug }}/"
                    >{{ tag | title }}</a
                >

                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
