<div class="post-list-wrapper" id="post-list">
    <div class="wrapper-inner">
        {% if postListHeadline %}
        <h2 class="post-list-headline">{{ postListHeadline }}</h2>
        {% endif %}
        <div>
            <ol class="post-list">
                {% for item in postListItems %}
                <li class="post-list-item">
                    <a href="{{ item.url }}" class="post-list-link"
                        >{{ item.data.title }}</a
                    >
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
