<header role="banner" class="site-head">
    <div class="wrapper-nav">
        <nav aria-label="Primary">
            <div class="site-head-inner">
                <ul class="nav-list">
                    <a href="/" aria-label="{{ site.name }} - home"> </a>
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>
