<header>
    <nav>
        <ul class="nav-links-wrapper">
            {% for item in navigation.items %}
            <li class="nav-link-item">
                <a
                    href="{{ item.url }}"
                    {{
                    helpers.getLinkActiveState(item.url,
                    page.url)
                    |
                    safe
                    }}
                    class="nav-links-text"
                    >{{ item.text }}</a
                >
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
