<header role="banner" class="site-head">
    <div class="wrapper-nav">
        <div class="site-head-inner">
            <a href="/" aria-label="{{ site.name }} - home"> </a>
            <nav aria-label="Primary">
                <ul class="nav-list">
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
